section.speaking {
    padding: 3em;
}

section.speaking .speaker__grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

section.speaking .speaker__grid .speaker__boxx {
    background: #FFFFFF;
    border-top: 0.25em solid var(--dust);
    padding: 1.5em 1em 3em;
    position: relative;
}

section.speaking .speaker__grid .speaker__boxx:before,
section.speaking .speaker__grid .speaker__boxx:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 0;
    width: 50%;
    border-bottom: 1.5em solid var(--ice);
    box-sizing: border-box;
}

section.speaking .speaker__grid .speaker__boxx:before {
    left: 0;
    border-right: 2em solid transparent;
}

section.speaking .speaker__grid .speaker__boxx:after {
    right: 0;
    border-left: 2em solid transparent;
}

section.speaking h3 {
    font-size: 1.5em;
    line-height: 1.5;
}

section.speaking h3 a {
    border-bottom: 2px solid var(--charcoal);
    color: var(--charcoal);
    text-decoration: none;
}

section.speaking .speaker__cat {
    background: var(--plum);
    color: var(--white);
    display: inline;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
}

section.speaking .speaker__location {
    float: right;
}

section.speaking a.speaker__btn {
    background: var(--teal);
    border: 0;
    color: var(--white);
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1.25em 0.5em 1em;
    text-decoration: none;
}

section.speaking a.speaker__btn:after {
    border-style: solid;
    border-width: 0.125em 0.125em 0 0;
    content: '';
    display: inline-block;
    height: 0.4em;
    position: relative;
    vertical-align: middle;
    width: 0.4em;
    left: 0.25em;
    transform: rotate(45deg);
}

section.speaking .speaker__border {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .5em;
    background: var(--dust);
    box-sizing: border-box;
}

section.speaking .speaker__border:before,
section.speaking .speaker__border:after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 51%;
    width: calc(50% + 2px);
    border-bottom: 1.5em solid var(--dust);
    box-sizing: border-box;
}

section.speaking .speaker__border:before {
    left: 0;
    border-right: 2em solid transparent;
}

section.speaking .speaker__border:after {
    right: 0;
    border-left: 2em solid transparent;
}