/* Colors */
:root {
	--white: #ffffff;
	--plum: #3e184e;
	--lilac: #a4a0c6 ;
	--ice: #f3fafb;
	--dust: #ced5df;
	--teal: #2e97a9;
	--azure: #2a496e;
	--charcoal: #142E30;
	--marigold: #F1C40F;
	--spring_green: #62e6ac;
	--peach: #ff8c5f;
	--black: #000000;
	--ash: #d2d2d2;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tajawal');
body {
	background: var(--ice);
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	color: var(--charcoal);;
	font-family: 'Tajawal', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

section {
	display: grid;
}
