/* Colors */
:root {
	--white: #ffffff;
	--black: #000000;
	--ice: #f7f8fb;
	--violet: #8061E7;
	--midnight: #221061;
	--dust: #ced5df;
	--ash: #dfe2ed;
	--lime: #00f1cc;
	--sky: #00c1ff;
	--charcoal: #474f6f;


	--lilac: #a4a0c6 ;

	--teal: #2e97a9;
	--azure: #2a496e;
	--charcoal: #142E30;
	--marigold: #F1C40F;
	--spring_green: #62e6ac;
	--peach: #ff8c5f;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700,900');
body {
	background: var(--ice);
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h4, h5, p {
	color: var(--charcoal);;
	font-family: 'Open Sans', sans-serif;
}

section {
	display: grid;
}
